# =======================
# Python
# =======================
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# =======================
# Virtual Environment
# =======================
.venv/
venv/
env/

# =======================
# Environment Variables
# =======================
.env
.env.*

# =======================
# Test
# =======================
.pytest_cache/
.coverage
coverage.xml
pytest-results.xml
htmlcov/

# =======================
# IDE
# =======================
.idea/
.vscode/

# =======================
# Database
# =======================
*.db
*.sqlite
*.sqlite3

# =======================
# Logs
# =======================
*.log
logs/

# =======================
# Upload Files
# =======================
backend/uploads/
backend/storage/

# =======================
# Frontend
# =======================
node_modules/
dist/
build/
